**Import Necessary Library **

In [29]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as mpl 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

**Loading dataset**

In [3]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

**Data profiling**

In [19]:
#view data
train_data.head(5)

,ID,date,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg
0,0,2022-12-19,196,13,27.887273,45.362854,0,0,7.740587,intermediate,dairy,28.946465
1,1,2023-11-21,244,15,10.317872,64.430475,1,0,42.311779,NaN,MeAt,51.549053
2,4,2022-02-01,148,16,27.714300,69.046113,1,0,41.184305,Beginner,MeAt,53.008323
3,5,2023-03-19,157,19,19.173902,46.292823,6,0,41.543492,Beginner,MeAt,48.621527
4,6,2022-07-18,297,10,26.375233,79.741064,0,0,26.525097,Intermediate,MEAT,44.156984

In [17]:
# train and test data information
print(f"train data info: {train_data.info()}")
print(f"test data info: {test_data.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                911 non-null    int64
 1   date              911 non-null    object
 2   meals_served      911 non-null    int64
 3   kitchen_staff     911 non-null    int64
 4   temperature_C     911 non-null    float64
 5   humidity_percent  911 non-null    float64
 6   day_of_week       911 non-null    int64
 7   special_event     911 non-null    int64
 8   past_waste_kg     911 non-null    float64
 9   staff_experience  747 non-null    object
 10  waste_category    911 non-null    object
 11  food_waste_kg     911 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 85.5+ KB
train data info: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                911 non-null    int64
 1   date              911 non-null    object
 2   meals_served      911 non-null    int64
 3   kitchen_staff     911 non-null    int64
 4   temperature_C     911 non-null    float64
 5   humidity_percent  911 non-null    float64
 6   day_of_week       911 non-null    int64
 7   special_event     911 non-null    int64
 8   past_waste_kg     911 non-null    float64
 9   staff_experience  747 non-null    object
 10  waste_category    911 non-null    object
dtypes: float64(3), int64(5), object(3)
memory usage: 78.4+ KB
test data info: None

In [18]:
# train and test data describtion
print(f"train data describe: {train_data.describe()}")

train data describe:                 ID  meals_served  kitchen_staff  temperature_C  \
count   911.000000    911.000000     911.000000     911.000000
mean    528.327113    375.405049      11.900110      22.189280
std     305.072794    502.812717       4.285153       8.922389
min       0.000000    100.000000       5.000000     -10.372207
25%     266.000000    211.000000       8.000000      15.684585
50%     531.000000    306.000000      12.000000      22.115040
75%     795.500000    407.000000      15.000000      28.804294
max    1049.000000   4730.000000      19.000000      60.000000

       humidity_percent  day_of_week  special_event  past_waste_kg  \
count        911.000000   911.000000     911.000000     911.000000
mean          60.761313     3.014270       0.085620      27.015691
std           17.330821     2.009542       0.279956      12.774223
min           30.121111     0.000000       0.000000       5.008394
25%           46.017835     1.000000       0.000000      16.091383
50%           61.633960     3.000000       0.000000      26.854109
75%           75.787910     5.000000       0.000000      38.149878
max           89.982828     6.000000       1.000000      49.803703

       food_waste_kg
count     911.000000
mean       44.842691
std        27.934366
min        10.819048
25%        32.887912
50%        41.146930
75%        50.046681
max       274.328783

In [22]:
train_data.isnull().sum()

ID                    0
date                  0
meals_served          0
kitchen_staff         0
temperature_C         0
humidity_percent      0
day_of_week           0
special_event         0
past_waste_kg         0
staff_experience    164
waste_category        0
food_waste_kg         0
dtype: int64

In [24]:
train_data.nunique()

ID                  911
date                867
meals_served        373
kitchen_staff        15
temperature_C       892
humidity_percent    867
day_of_week           7
special_event         2
past_waste_kg       867
staff_experience      4
waste_category        5
food_waste_kg       867
dtype: int64